#############
/Data/resource/backupdata/*
/uploads/file1/*
/Install/install.lock
!/uploads/file1/201403/
/App/Html/*
/App/Conf/*
!README.md
/uploads/abc1/*
/App/Runtime/*
cxsjcopy (2).zip
cxsjcopy.zip
/uploads/img1/*