@charset "utf-8";
/* CSS Document */
/*公用全局样式*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl, dt,li,ol,ul,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;}
body{font:normal normal normal 12px/150% 宋体;height:100%;word-break:break-all;}
a{text-decoration:none;color:#333;}
a:hover{color:#c00;}
a:active{outline:none;}
li{list-style-type:none;}
img{border-style:none;}
table{border-collapse:collapse;}
fieldset{border-style:none }
button{cursor:pointer;}
select,input,textarea{font-size:12px;}
ul,li,dt,dd,dl{list-style:none;}
.clear{clear:both;}
selection{color:#fff;background-color:#209EEB;}
q:before,q:after{content: '';}    
abbr, acronym{border:0;}
code::selection{background-color:#209EEB}
::-moz-selection{color:#FFFFFF;background-color:#209EEB;}
code::-moz-selection{background-color:#209EEB}
/*------*/
.clear{clear:both;height:0;font-size:0;background:none;}
.clearfix{display:inline-block;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.fl{float:left;}
.fr{float:right;}
.classpage{text-align:center;}
.h10{height:10px;_height:9px;clear:both;font-size:1px;line-height:1px;background:none;}
.mr10{ margin-right:10px;}
.tc{ text-align:center;}
/*主体框架*/
body{ background:#ffffe7 url(../images/bjIndBg.png) left top repeat-x;}
#warp{ width:1000px; height:651px; margin:0 auto; overflow:hidden; background:url(../images/bjInd.jpg) no-repeat; position:relative;}
.top{ height:170px; overflow:hidden; padding-left:44px;}
.indLink{ float:left;}
.indLink a{ display:block; width:307px; height:95px;}
.link{ height:29px; line-height:29px; text-align:right; float:right;}
.link a{ margin:0 5px;}
.main{ padding:8px 65px 170px 273px; height:300px; }

.schName{ width:149px;}
.schName ul li{ width:149px; height:36px; line-height:36px; text-align:center; background:url(../images/schNameLi.png) 0 -36px no-repeat;cursor:pointer;}
.schName ul li a{font-size:14px;}
.schName ul li.on{background:url(../images/schNameLi.png) no-repeat;}
.schName ul li.on a{ color:#fff; font-weight:bold;}

.bjList{ width:480px; height:300px;overflow-x:scroll;scrollbar-face-color:#fceeb5;scrollbar-highlight-color:#fff;scrollbar-shadow-color:#fcd671;scrollbar-arrow-color:#fdd946;　　scrollbar-base-color:#fdd946;scrollbar-darkshadow-color:#fdd946;scrollbar-track-color:#fdd946;}
.bjList .oo{ display:block; height:280px;}
.bjList dl{ float:left; width:73px; margin-right:8px; overflow:hidden; height:280px; white-space:nowrap; display:block;}
.bjList dl dt{ height:33px; background:url(../images/bjListLi.png) no-repeat; text-align:center; overflow:hidden; padding-bottom:4px;}
.bjList dl dt a{ line-height:33px; font-weight:bold; font-size:14px; color:#d31f01;}
.bjList dl dd{ padding:0 1px;}
.bjList dl dd ul li{ width:71px; height:27px; overflow:hidden; text-align:center; background:url(../images/bjListLi.png) 0 -69px no-repeat; padding:4px 0;}
.bjList dl dd ul li a{ font-size:14px; color:#ef9303; line-height:27px; font-weight:bold;}
.bjList #wUL2 dl dt{ background:url(../images/bjListLiOn.png) no-repeat;}
.bjList #wUL2 dl dt a,.bjList #wUL2 dl dd ul li a{ color:#bb0289;}
.bjList #wUL2 dl dd ul li{ background:url(../images/bjListLiOn.png) 0 -69px no-repeat;}

















